<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">
  
  <object id="udpNetServer" type="Summer.System.NET.UdpNetServer,Summer.System">
    <constructor-arg value="10000"/>
  </object>
  
  <object name="udp" type="TypeTest.Net.Udp, TypeTest">
    <property name="rxQueue" ref="rxQueue"/>
    <property name="udpNetServer" ref="udpNetServer"/>
  </object>

  <object name="snmpTrapManager" type="Summer.ES.Snmp.SnmpTrapManager, Summer.ES">
    <constructor-arg value="162"/>
  </object>

  <object name="snmpManager" type="TypeTest.Net.SnmpManager, TypeTest">
    <property name="snmpTrapManager" ref="snmpTrapManager"/>
    <property name="rxQueue" ref="rxQueue"/>
  </object>
  
</objects>
